.en_tete{
  background-image: url("/../../../../assets/img/Group 186.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20.19rem;
}
h1{
  text-align:center;
  color:white;
  padding-top: 7rem;
}
/* Conteneur principal pour les cartes */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 6fr)); /* Répartition dynamique */
  gap: 20px; /* Réduit l'espace entre les cartes */
  padding: 20px;
  justify-items: center;
  /* background-color: #f7f7f7; */
}

/* Style des cartes de profil */
.profile-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

 i{
  color:#FED330
 }
.profile-card:hover {
  transform: scale(1.05);
}

/* Image de profil (en-tête de la carte) */
.profile-header img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}
.profile-body h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: bold;
  color:#0056b3;
}
.profile-body .profession {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.profile-body .contact-info {
  margin: 5px 0;
  font-size: 13px;
  color: #777;
}
.profile-btn {
  margin-top: 10px;
  border-radius: 1.25rem;
  background: #FED330;
 width: 7.25rem;
 height:  2.375rem;
border:none;
text-decoration: none;
color:white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-btn:hover {
  background-color:#0056b3;
}
.search-bar {
  display: grid;
  place-items: center;
  padding: 20px;
}

.input {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  border: none; /* Supprime la bordure initiale */
  padding: 10px;
  outline: none; /* Supprime la bordure de focus */
  background-color: #f0f0f0; /* Optionnel : couleur de fond légère */
}

.input:focus {
  background-color: #e8e8e8; /* Change de couleur au focus (optionnel) */
}

.search-bar p {
  margin-top: 10px;
  font-weight: bold;
  color:#0056b3;
}

.form-check-inline {
  margin-right: 10px;
}
.form-check-label{
  color:#0056b3
}
fa-icon{
  color:rgb(203, 203, 203);
  cursor:pointer;

  &.rated,
  &:hover{
   color:#FED330;
  }
  transition: color 0.2s ease-in-out
}

/* Responsive Design pour petits écrans */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .profile-card {
    width: 100%;
  }
}
