<app-header></app-header>

<div class="en_tete">
  <h1>Catalogue des demandeurs d'emploi</h1>
</div>
<!-- Barre de recherche -->
<div class="search-bar mt-5">
  <input type="text " placeholder="Rechercher par adresse" [(ngModel)]="searchText" (input)="filtrerCandidats()" class="input" />
  <p>Rechercher par service</p>
  <div class="d-flex flex-wrap mb-3">
    <div *ngFor="let service of tabService" class="form-check form-check-inline me-3">
        <input type="checkbox" class="form-check-input" id="service-{{service.id}}"
            [(ngModel)]="service.selected" (change)="onServiceChange()">
        <label class="form-check-label" for="service-{{service.id}}">
            {{ service.libelle }}
        </label>
    </div>
</div>
</div>
<!-- Liste des cartes des candidats -->
<div class="cards-container">
  <div class="profile-card" *ngFor="let candidat of candidatsFiltres">

    <!-- En-tête de la carte avec l'image du candidat -->
    <div class="profile-header">
      <img [src]="getimage(candidat.photo)" alt="{{ candidat.nom }} {{ candidat.prenom }}">
    </div>

    <!-- Corps de la carte avec les détails du candidat -->
    <div class="profile-body">
      <h3> {{ candidat.prenom }} {{ candidat.nom }}</h3>
      <fa-icon [class.rated]="candidat.rating >= 1" [icon]="faStar" (click)="setRating(candidat, 1)"></fa-icon>
      <fa-icon [class.rated]="candidat.rating >= 2" [icon]="faStar" (click)="setRating(candidat, 2)"></fa-icon>
      <fa-icon [class.rated]="candidat.rating >= 3" [icon]="faStar" (click)="setRating(candidat, 3)"></fa-icon>
      <fa-icon [class.rated]="candidat.rating >= 4" [icon]="faStar" (click)="setRating(candidat, 4)"></fa-icon>
      <fa-icon [class.rated]="candidat.rating >= 5" [icon]="faStar" (click)="setRating(candidat, 5)"></fa-icon>
      <!-- <span>Note : {{ candidat.rating }}</span> -->
      <!-- Liste des services associés -->
      <div *ngIf="candidat.services?.length > 0; else noService">
        <p><i class="fas fa-briefcase"></i>
          <span *ngFor="let service of candidat.services">
            {{ service.libelle }}
          </span>
        </p>
      </div>

      <p class="contact-info">
        <i class="fas fa-map-marker-alt"></i> {{ candidat.adresse || 'Non spécifié' }}
      </p>

      <!-- Template si le candidat n'a pas de service -->
      <ng-template #noService>
        <p>Aucun service associé.</p>
      </ng-template>

      <!-- Bouton pour voir plus d'informations sur le candidat -->
      <button class="profile-btn" (click)="voirProfil(candidat.id)">Voir le profil</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
