<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-section">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo_coupdemain.png" alt="Logo Coup de main" class="logo">
        </a>
      </div>
      <div class="footer-section about">
        <h2>À propos de nous</h2>
        <p>
          Notre plateforme vous aide à connecter les employeurs et les demandeurs d'emploi pour faciliter le processus de recrutement.
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-section links">
        <h2>Liens rapides</h2>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Missions</a></li>
          <li><a href="#">Guide</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contactez-nous</h2>
        <ul>
          <li>Email: coupdemain.com</li>
          <li>Téléphone: 33-000-00-00</li>
          <li>Adresse:Sacré Coeur 3</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Coup de main. Tous droits réservés.</p>
    </div>
  </div>
</footer>
