<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coup de Main - Connexion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="connexion.component.css">
</head>
<body>
  <app-header></app-header>
  <main class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 img-container">
            <img src="assets/img/jardinier.png" alt="Illustration" class="img-fluid mb-3">
        </div>
        <div class="col-md-6 ">
            <div class=" carte p-4" >
                <h1>Bienvenue 👋</h1>
                <p class="paragraphe1">Que vous soyez employeur ou personnel de maison,
                     connectez-vous à votre compte et profitez des 
                     nombreuses opportunités qui s'offrent à vous</p>
                <form #loginForm="ngForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="userObject.email" name="email" required placeholder="Entrez votre email">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="userObject.password" name="password" required placeholder="Entrez votre mot de passe">
                    </div>
                    <button type="submit" class="btn  btn-block mb-3" (click)="connexion()">Envoyer</button>
                </form>
                <p class="paragraphe2">Vous n'avez pas de compte ! <span>Inscrivez-vous</span></p>
                 <!-- Message d'alert  -->
     @if (alertMessage) {
        <div class="mt-3 alert alert-dismissible fade js-alert" role="alert">
            {{alertMessage}}
            <button type="button" class="btn-close " data-bs-target="alert" aria-label="Close"></button>
        </div>
        }
            </div>
        </div>
    </div>
</main>

</body>
</html>
