<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire de données personnelles</title>
  <style>
    /* Ajout de styles CSS pour le textarea */
    textarea {
      width: 100%; /* Prend toute la largeur de son conteneur */
      height: 150px; /* Hauteur personnalisée */
      padding: 10px; /* Espacement interne */
      border-radius: 5px; /* Coins arrondis */
      border: 1px solid #ccc; /* Bordure */
      resize: vertical; /* Permet de redimensionner uniquement verticalement */
    }
  </style>
</head>
<body>
  <app-header></app-header>
  <div class="container my-5">
    <div class="row d-flex align-items-center justify-content-center">
      <!-- Image Section -->
      <div class="col-lg-4 col-md-6 text-center mb-4 mb-lg-0">
        <img src="/assets/img/imgpostuler.png" alt="Image d'inscription" class="img-fluid">
      </div>

      <!-- Formulaire -->
      <div class="col-lg-6 col-md-6">
        <div class="container form-container">
          <div class="form-wrapper">
            <p>Renseignez vos informations complémentaires et profitez des opportunités qui s'offrent à vous</p>
            <form (ngSubmit)="addinfos()" #infoForm="ngForm">
              <label for="competence-libelle">Compétences (Libellé)</label> <br>
              <textarea id="competence-libelle" name="competenceLibelle" [(ngModel)]="infosObject.competence.libelle" required></textarea> <br>

              <label for="competence-description">Compétences (Description)</label> <br>
              <textarea id="competence-description" name="competenceDescription" [(ngModel)]="infosObject.competence.description" required></textarea> <br>

              <label for="experience-libelle">Expériences (Libellé)</label> <br>
              <textarea id="experience-libelle" name="experienceLibelle" [(ngModel)]="infosObject.experience.libelle" required></textarea> <br>

              <label for="experience-description">Expériences (Description)</label> <br>
              <textarea id="experience-description" name="experienceDescription" [(ngModel)]="infosObject.experience.description" required></textarea> <br>

              <button type="submit" class="btn-publish">Publier l'offre</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
