<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="portail.component.css">
    <title>Coup de main</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#"><img src="assets/img/logo_coupdemain.png" alt="" class="ms-4"></a>
        <!-- ici c'est pour le menu burger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> <!-- Centrer les éléments de la liste -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Missions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Emplois</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Candidats</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="me-1"> <!-- Ajouter de l'espace à droite du bouton "S'inscrire" -->
                   <button class="btn-connect" > <a  href="/connexion">Se connecter</a></button>
                </div>
                <div class="me-3">
                   <button class="btn-register"> <a  href="/inscription">S'inscrire</a></button>
                </div>
            </form>
        </div>
    </div>
</nav>
  <div *ngIf="utilisateurConnecte">
    <h2>Bienvenue, {{ utilisateurConnecte.prenom }} !</h2>
  </div>
    <main>
        <div class="titre">
            <h1>Simplifiez votre vie avec un coup de main : Trouvez l'aide idéale pour chaque tâche domestique.</h1>
            <p class="paragraphe1">Que ce soit pour le ménage, les réparations ou l'entretien,
                 notre plateforme vous connecte avec les meilleurs
                 candidats pour répondre à vos besoins spécifiques.</p>
            <div class="btn-service">
                 <button class="btn btn-primary me-4 mb-4">
                    <i class="fas fa-car me-3 mt-1"></i> Chauffeur
                </button>
                <button class="btn btn-primary me-4 mb-4">
                    <i class="fas fa-shield-alt me-3 mt-1"></i> Gardien
                </button>
                <button class="btn btn-primary me-4 mb-4 ">
                    <i class="fas fa-baby me-3 mt-1"></i> Nounou
                </button>
                <button class="btn btn-primary me-4 mb-4">
                    <i class="fas fa-broom me-3 mt-1"></i> Aide Ménagère
                </button> <br>
                <button class="btn btn-primary me-4 ">
                    <i class="fas fa-utensils me-3 mt-1"></i> Cuisinier
                </button>
                <button class="btn btn-primary  me-4">
                    <i class="fas fa-book-reader me-3 mt-1"></i> Répétiteur
                </button>
                <button class="btn btn-primary  me-4">
                    <i class="fas fa-user-nurse me-3 mt-1"></i> Aide Soignante
                </button>
                <button class="btn btn-primary me-4">
                    <i class="fas fa-tree me-3 mt-1"></i> Jardinier
                </button>
            </div>
        </div>
        <div class="titre-img">
            <img src="assets/img/Group 75.png" alt="">
        </div>
    </main>
    <div class="titre2">
        <h2>Nos missions</h2>
       <p class="paragraphe2 ">Découvrez une nouvelle façon de gérer votre foyer avec des services domestiques à votre portée.</p>
    </div>
    <div class="container">
        <div class="box1">
            <div>
                <img src="assets/img/Group 157.png" alt="Description de l'image 01">
            </div>
            <div>
                <p class="titre3"><span>01</span><br>Mettre en rapport les employeurs avec les personnels de maison</p>
                <p class="paragraphe3">Notre mission première est de simplifier la mise en relation entre les familles
                    et le personnel qualifié de maison. Nous créons une plateforme sécurisée
                    et transparente où les employeurs peuvent facilement trouver des professionnels
                    de confiance pour répondre à leurs besoins spécifiques, qu’il s’agisse d’un entretien
                    ménager, de la garde d’enfants, ou d’autres services domestiques essentiels.
                    Grâce à notre système de vérification rigoureux, nous assurons que chaque
                    profil est soigneusement sélectionné afin de garantir sérénité et sécurité
                    pour toutes les parties.</p>
            </div>
        </div>
        <div class="box2">
            <div>
                <p class="titre3"><span>02</span><br>Faciliter la recherche d'emploi dans le secteur domestique</p>
                <p class="paragraphe4">En parallèle, nous nous engageons à faciliter l’accès aux opportunités d’emploi
                    dans le secteur domestique. Notre plateforme permet aux demandeurs d’emploi
                    de postuler rapidement à des offres pertinentes, avec un système simple et
                    intuitif pour mettre en avant leurs compétences. Nous offrons un espace où
                    les professionnels du secteur peuvent non seulement trouver un emploi, mais
                    aussi se connecter avec des employeurs qui valorisent leur expérience et leur
                    expertise. Que vous soyez à la recherche d’une première opportunité ou d’un
                    poste à long terme, nous simplifions vos démarches pour que vous puissiez vous
                    concentrer sur ce qui compte.</p>
            </div>
            <div>
                <img src="assets/img/Group 158.png" alt="Description de l'image 02">
            </div>
        </div>
    </div>
    <h2 class="emploi">Offres d'emploi les plus récentes</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let offre of offres.slice(0, 3)">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title" *ngFor="let service of offre.services">{{ service.libelle }}</h3>
                        <p class="card-text">
                            {{ offre.description | slice:0:50 }}
                        </p>
                        <div class="card-details">
                            <span class="location">
                                <i class="fa fa-map-marker-alt"></i> {{ offre.lieu }}
                            </span>
                            <span class="time">
                                <i class="fa fa-clock"></i> {{ offre.horaire }}
                            </span>
                        </div>
                        <div class="card-footer">
                            <span class="price">
                                <i class="fa fa-money-bill-wave"></i> {{ offre.salaire }}
                            </span>
                            <a href="#" class="view-link">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="lien_offre"><a href="/liste-offre">Voir toutes les offres</a></p>
</body>
</html>
