nav{
    background-color: #4A69BD;
    height: 5.56rem
}
.nav-link{
    color:white
}
.nav-link:hover{
 color:#FED330
}
.btn-connect{
    border-radius: 1.25rem;
    background: #FED330;
   width: 7.25rem;
   height:  2.375rem;
  border:none;
  text-decoration: none;
}
.btn-register a{
 text-decoration: none;
 color:white
}
.btn-connect a{
    text-decoration: none;
    color:white
}
.btn-register{
    width: 7.25rem;
    height:  2.375rem;
   border:none;
   background-color: #4A69BD;
   border-radius: 1.25rem;
   border: 0.0625rem solid #FFF;
   text-decoration: none;
}
ul{
    gap:2rem
}
form{
    display:flex;
    gap:0.5rem
}
.navbar {
    background-color: #4A69BD;
}
.navbar-collapse {
    background-color: #4A69BD;
    width:200rem
}

.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-color: white;
}
.user-btn {
  background-color:#FED330;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.user-btn i {
  font-size: 20px;
  margin-right: 10px;
}
.user-btn:hover {
  background-color:#4A69BD;
  color: white;
}
.dropdown-menu {
  border-radius: 10px;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
  color:#FED330
}


