<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="header.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Coup de main</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#"><img src="assets/img/logo_coupdemain.png" alt="" class="ms-4"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page"  routerLinkActive="active-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#missions" routerLinkActive="active-link">Missions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#guide" routerLinkActive="active-link">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liste-offre" routerLinkActive="active-link">Emplois</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLinkActive="active-link">Candidats</a>
                    </li>
                    <li *ngIf="isEmployeur"><a href="/offre" class="nav-link">Publier une offre</a></li>
                </ul>
                <!-- Vérification de la connexion -->
                <form class="d-flex" *ngIf="!isLoggedIn; else loggedInTemplate">
                    <div class="me-1">
                       <button class="btn-connect"><a href="/connexion">Se connecter</a></button>
                    </div>
                    <div class="me-3">
                       <button class="btn-register"><a href="/inscription">S'inscrire</a></button>
                    </div>
                </form>
                <!--  utilisateur connecté -->
                <ng-template #loggedInTemplate>
                    <div class="dropdown me-3">
                        <button class="btn btn-secondary dropdown-toggle user-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle me-2"></i>
                            {{ userName }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#" (click)="onLogout()">Se déconnecter</a></li>
                        </ul>
                    </div>
                </ng-template>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
