<app-header></app-header>

<div class="container my-5">
  <div class="card shadow-lg profile-container mx-auto">
    <div class="card-body text-center">
    <div class="user_infos"> <h2 class="mb-4">Informations personnelles</h2></div>

      <!-- Image de profil -->
      <div class="profile-header mb-4">
        <img [src]="getImage(user?.photo)"
             class="rounded-circle img-fluid shadow"
             [alt]="user?.nom + ' ' + user?.prenom"
             width="100" height="auto">
      </div>

      <!-- Informations utilisateur -->
      <div class="row text-center">
        <div class="col-md-6 mb-3">
          <p><i class="fas fa-user"></i> <strong>Nom :</strong> {{ user?.nom }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p><i class="fas fa-user-alt"></i> <strong>Prénom :</strong> {{ user?.prenom }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p><i class="fas fa-envelope"></i> <strong>Email :</strong> {{ user?.email }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p><i class="fas fa-phone"></i> <strong>Téléphone :</strong> {{ user?.telephone }}</p>
        </div>
        <div class="col-md-6 mb-3" *ngIf="isEmploye">
          <p><i class="fas fa-briefcase"></i> <strong>Services :</strong>
            <span *ngFor="let service of user?.services; let last = last">
              {{ service.libelle }}<span *ngIf="!last">, </span>
            </span>
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#editInfoModal">
            </button>
          </p>
        </div>
        <div class="col-md-6 mb-3">
          <p><i class="fas fa-map-marker-alt"></i> <strong>Adresse :</strong> {{ user?.adresse }}
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#editInfoModal">
            </button>
          </p>
        </div>
      </div>
      <!-- Compétences -->
      <div *ngIf="competences.length > 0; else noCompetences" >
        <h3>Liste des compétences :</h3>
        <ul>
          <li *ngFor="let competence of competences">
            <strong>{{ competence.libelle }}</strong>
            <button class="btn btn-link" (click)="openEditCompetenceModal(competence)"
            data-bs-toggle="modal"
            data-bs-target="#editCompetenceModal">
        <i class="fas fa-edit"></i>
    </button>
    <button class="btn btn-link" (click)="openEditCompetenceModal(competence)"
    data-bs-toggle="modal"
            data-bs-target="#editCompetenceModal">
      <i class="fas fa-trash"></i>
  </button>
          </li>
        </ul>
      </div>
      <ng-template #noCompetences>
        <p>Aucune compétence disponible pour l'utilisateur.</p>
      </ng-template>

      <div *ngIf="experiences.length > 0; else noExperiences" >
        <h3>Liste des expériences :</h3>
        <ul>
          <li *ngFor="let experience of experiences">
            <strong>{{ experience.libelle }}</strong>
            <button class="btn btn-link" (click)="openEditExperienceModal(experience)"
            data-bs-toggle="modal"
            data-bs-target="#editExperienceModal">
        <i class="fas fa-edit"></i>
    </button>
    <button class="btn btn-link" (click)="openEditExperienceModal(experience)"
    data-bs-toggle="modal"
            data-bs-target="#editExperienceModal">
      <i class="fas fa-trash"></i>
  </button>
          </li>
        </ul>
      </div>
      <div>
      <ng-template #noExperiences >
        <p>Aucune experiences disponible pour l'utilisateur.</p>
      </ng-template>
     </div>

      <!-- Boutons Modifier et Supprimer le compte -->
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-warning me-3"data-bs-toggle="modal" data-bs-target="#editInfoModal">
          Modifier
        </button>
        <button class="btn btn-danger">
          Supprimer mon compte
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de modification des informations générales -->
  <div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editInfoModalLabel">Modifier les informations personnelles</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulaire de modification des informations générales -->
          <form action="" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="photo" class="form-label">Photo</label>
              <input type="file" class="form-control" id="photo" name="photo" accept="image/*" (change)="uploadImage($event)" [(ngModel)]="UserObject.photo">
            </div>
            <div class="mb-3">
              <label for="editNom" class="form-label">Nom</label>
              <input type="text" class="form-control" id="editNom" name="nom" [(ngModel)]="UserObject.nom">
            </div>
            <div class="mb-3">
              <label for="editPrenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="editPrenom" name="prenom" [(ngModel)]="UserObject.prenom">
            </div>
            <div class="mb-3">
              <label for="editEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="editEmail" name="email" [(ngModel)]="UserObject.email" >
            </div>
            <div class="mb-3">
              <label for="editTelephone" class="form-label">Téléphone</label>
              <input type="text" class="form-control" id="editTelephone" name="telephone" [(ngModel)]="UserObject.telephone">
            </div>
            <div class="mb-3" *ngIf="isEmploye">
              <label class="form-label">Services</label>
              <div *ngFor="let service of tabService">
                <input type="checkbox" [checked]="isServiceChecked(service.id)" (change)="onServiceChange(service.id, $event)" />
                {{ service.libelle }}
              </div>
            </div>
            <div class="mb-3">
              <label for="editAdresse" class="form-label">Adresse</label>
              <input type="text" class="form-control" id="editAdresse" name="adresse" [(ngModel)]="UserObject.adresse" >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="updateUser()">Enregistrer les modifications</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCompetenceModal" tabindex="-1" aria-labelledby="editCompetenceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCompetenceModalLabel">Modifier la compétence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="editCompetenceLibelle" class="form-label">Compétence</label>
                        <input type="text" class="form-control" id="editCompetenceLibelle" name="libelle" [(ngModel)]="competenceObject.libelle">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" (click)="updateCompetence()">Enregistrer</button>
                <button type="button" class="btn btn-danger" (click)="deleteCompetence()">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editExperienceModal" tabindex="-1" aria-labelledby="editExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editExperienceModalLabel">Modifier l'expérience</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                      <label for="editExperienceLibelle" class="form-label">Expérience</label>
                      <input type="text" class="form-control" id="editExperienceLibelle" name="libelle" [(ngModel)]="experienceObject.libelle">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary" (click)="updateExperience()">Enregistrer</button>
              <button type="button" class="btn btn-danger" (click)="deleteExperience()">Supprimer</button>
          </div>
      </div>
  </div>
</div>

  <ng-template #loading>
    <p class="text-center mt-5">Chargement des informations...</p>
  </ng-template>
</div>

<app-footer></app-footer>
