
input,select{
  border-radius: 1rem;
}
button {
  border-radius: 1.25rem;
  background: #FED330;
 width: 7.25rem;
 height:  2.375rem;
border:none;
text-decoration: none;
color:white
}
h2{
  color:#FED330
}
button:hover{
 background-color:#4A69BD
}
